h1{
    text-align: center;
    color: maroon;
}

img{
    width: 250px;
    height: 250px;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

#moving{
    text-align: center;
}